########################################################################################
### Aliases
alias install="sudo apt-get install"
alias poweroff="sudo shutdown -h now"
 
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../..'
alias d='ls'
alias df='df -h -x supermount'
alias du='du -h'
alias egrep='egrep --color'
alias fgrep='fgrep --color'
alias grep='grep --color'
alias l='ls -CF'
alias la='ls -A'
alias ll='ls -alFh'
alias ls='ls -F --color=auto'
alias lsd='ls -d */'
alias md='mkdir -p'
alias mkdir='mkdir -pv'
alias p='cd -'
alias rd='rmdir'
alias del='rm'
alias cls='clear'
alias bc='bc -l'

alias e=vim
alias :q=exit
 
alias path='echo -e ${PATH//:/\\n}'
alias nowtime='date +%T'
alias nowdate='date +"%d-%m-%Y"'
#alias now='date +"%D %T"'
alias now='date +"%A, %d-%m-%Y %T %z %Z"'
 
alias vi='sudo vim "+set nu"'
alias svi='sudo vi'
alias vis='vim "+set si"'
alias edit='vim'
 
alias ping='ping -c 5'
alias root='sudo -i'
alias su='sudo -i'
 
alias wget='wget -c'
alias man="man -a"


# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi
